footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px 0px;
  z-index: 1000;
}

.footer-container {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
