footer {
  border-top: 1 px solid black;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px 0px;
  z-index: 1000;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
}

.footer-logo {
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}
