html,
body {
  margin: 0;
  background-color: #e9f0f4;
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #222;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 576px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.header-container {
  display: flex;
  justify-content: center;
}

.page-content {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px #0000000d;
  flex-direction: column;
  justify-content: center;
}
