html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  background-color: #e9f0f4;
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #222;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-height: 100vh;
  max-width: 576px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  justify-content: center;
}
.menu-wrapper {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}

.page-content {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-top: 30px;
}
